body {
  font-family: "Open Sans", sans-serif;
  background-color: #455A64;
  color: #FFFFFF;
}

main {
  width: 50%;
  text-align: center;
  position: absolute;
  left: 0;
}

h1 {
  font-size: 4.75vw;
  font-weight: 800;
  margin: 25px 0px;
  display: block;
}

img {
  width: 8vw;
}

input {
  width: 70%;
  margin: 0px 25px 25px 25px;
  background-color: #FFFFFF;
  color: #455A64;
  font-weight: 400;
  font-size: 14pt;
  border: 1px solid #CFD8DC;
  padding: 2px;
}

input:hover {
  border: 1px solid #FFC107;
}

input:focus {
  outline: 0;
  border: 2px solid #FFC107;
}

#submit-button {
  margin: 0px 25px 25px 25px;
  width: 70%;
  /*border: 2px solid #FFC107;*/
  background-color: #FFC107;
  font-weight: 800;
  color: #FFF;
  font-size: 12pt;
  text-decoration: none;
  padding: 10px;
}

#submit-button:hover {
  background-color: #FFD773;
  /*border: 2px solid #FFD773;*/
}

#submit-button:focus {
  outline: 0;
}

#submit-button:disabled {
  background-color: #CCC;
}

section {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #CFD8DC;
  overflow: scroll;
}

article {
  border: 1px solid #607D8B;
  background-color: #FFF;
  margin: 10px 10px 0px 10px;
  color: #455A64;
  padding: 10px;
}

article.read {
  background-color: #F2F3F4;
}

h2 {
  font-weight: 800;
  font-size: 14pt;
}

h3{
  color: #455A64;
  font-weight: 400;
  font-size: 12pt;
}

span {
  font-weight: 800;
  padding-right: 3vw;
}

a {
  text-decoration-color: #CCC;
  color: #455A64;
}

a:hover {
  text-decoration-color: #FFC107;
  font-weight: 800;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #CFD8DC;
}

.delete {
  float: right;
}
button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #CCC;
  padding: 0;
  margin: 0;
}

button:hover {
  text-decoration-color: #FFC107;
  font-weight: 800;
}

button.clicked {
  background-color: rgba(0, 0, 0, 0);
  color: #F05A28;
  text-decoration: none;
  font-weight: 800;
}

div {
  background-color: #FFC107;
  padding: 10px 25px;
  text-align: center;
}

.clear-all-read {
  background-color: #FFC107;
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  main {
    width: 100%;
  }
  
  section {
    width: 100%;
    top: 250px;
  }
}


