
*{
  box-sizing: border-box;
}

body {
  background-color: #455A64;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}

main {
  left: 0;
  margin: 0px;
  padding: 0px;
  position: absolute;
  text-align: center;
  width: 50%;
}

h1 {
  font-size: 4.9vw;
  font-weight: 800;
  margin: 30px 0px;
}

img {
  width: 7.5vw;
}

input {
  background-color: #FFFFFF;
  border: 1px solid #CFD8DC;
  color: #455A64;
  font-size: 14pt;
  font-weight: 400;
  margin: 0px 25px 30px 25px;
  padding: 2px;
  width: 70%;
}

input:hover {
  border: 1px solid #FFC107;
}

input:focus {
  border: 2px solid #FFC107;
  outline: 0;
}

#submit-button {
  background-color: #FFC107;
  border: 1px solid #FFC107;
  color: #FFF;
  font-size: 10pt;
  font-weight: 800;
  letter-spacing: 1pt;
  margin: 0px 25px 25px 25px;
  padding: 5px 10px;
  text-decoration: none;
  width: 70%;
}

#submit-button:hover {
  background-color: #FFD773;
  border: 1px solid #FFD773;
}

#submit-button:focus {
  outline: 0;
}

#submit-button:disabled {
  background-color: #CCC;
  border: 1px solid #CCC;
}

section {
  background-color: #CFD8DC;
  height: 100%;
  overflow: scroll;
  position: absolute;
  right: 0;
  width: 50%;
}

article {
  background-color: #FFF;
  border: 1px solid #607D8B;
  color: #455A64;
  margin: 10px 10px 0px 10px;
  padding: 10px;
}

article.read {
  background-color: #F2F3F4;
}

h2 {
  border-bottom: 1px solid #CFD8DC;
  font-size: 14pt;
  font-weight: 800;
  padding: 0px 0px 10px 2px;
}

h3{
  color: #455A64;
  font-size: 12pt;
  font-weight: 400;
}

span {
  font-weight: 800;
  padding-right: 3vw;
}

a {
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 10px 2px;
  text-decoration-color: #CCC;
}

a:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #455A64;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: #CCC;
}

button:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
}

button.clicked {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

.delete {
  float: right;
}

div {
  background-color: #FFC107;
  padding: 10px 25px;
  text-align: center;
}

button.clear-all-read {
  color: #455A64;
  display: inline-block;
  font-size: 12pt;
  font-weight: 400;
}

button.clear-all-read:hover {
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  main {
    position: static;
    width: 100%;
  }
  
  section {
    top: 250px;
    width: 100%;
  }

  div {
    position: sticky;
    top: 0px;
  }
}


